# llama-index dependencies
llama-index

# llama-index llms
llama-index-llms-mistralai
llama-index-llms-langchain
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-huggingface
llama-index-llms-huggingface-api

# llama-index embeddings
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-embeddings-langchain

# llama-index graph stores
llama-index-graph-stores-neo4j

langchain-openai

# using huggingface llms
langchain-huggingface
huggingface_hub[inference]
transformers[torch]
autoawq

# lightrag dependencies
lightrag-hku
pipmaster
future

# neo4j dependencies
neo4j
neo4j-graphrag[mistralai]

# repo dependencies
python-dotenv
datasets