llama-index
llama-index-llms-openai-like 
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-llms-mistralai
llama-index-llms-langchain
lama-index-embeddings-langchain

lightrag-hku
pimaster

neo4j-graphrag[mistralai]
neo4j

python-dotenv
langchain-openai
transformers
future